@inherits Merchello.Web.Mvc.MerchelloViewPage<Merchello.UkFest.Web.Models.UpdateBasket>
@using Merchello.UkFest.Web.Controllers
@using (Html.BeginUmbracoForm<BasketController>("UpdateBasket"))
{
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Product</th>
                        <th>Quantity</th>
                        <th>Unit price</th>
                        <th>Discount</th>
                        <th colspan="2">Total</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Items.Length; i++)
                    {
                        <tr>
                            <td>
                                @if (!Model.Items[i].Image.IsNullOrWhiteSpace())
                                {
                                    <a href="@Model.Items[i].ProductUrl">
                                        <img src="@Model.Items[i].Image" alt="@Model.Items[i].Name">
                                    </a>
                                }
                            </td>
                            <td>
                                <a href="@Model.Items[i].ProductUrl">@Model.Items[i].Name</a>
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.Items[i].Quantity, new { @type = "number", @min = "1", @class="form-control" })
                                
                            </td>
                            <td>@Model.Items[i].FormattedUnitPrice</td>
                            <td>$0.00</td>
                            <td>@Model.Items[i].FormattedPrice</td>
                            <td>
                                <a href="@Url.SurfaceAction("Remove", "Basket", new { key = Model.Items[i].Key })"><i class="fa fa-trash-o"></i></a>
                                @Html.HiddenFor(model => Model.Items[i].Key)
                                @Html.HiddenFor(model => Model.Items[i].ProductKey)
                            </td>
                        </tr>
                    }                   
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5">Total</th>
                        <th colspan="2">@Model.FormattedBasketTotal</th>
                    </tr>
                </tfoot>
            </table>

        </div>
        <!-- /.table-responsive -->

        <div class="box-footer">
            <div class="pull-left">
                <a href="@Model.ContinueShoppingUrl" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
            </div>
            @if (Model.Items.Any())
            {
                <div class="pull-right">
                    <button class="btn btn-default"><i class="fa fa-refresh"></i> Update cart</button>                
                    <a href="@Model.CheckoutUrl" class="btn btn-primary">
                        Proceed to checkout <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            }
        </div>
}

