@model Merchello.UkFest.Web.Models.ProductListItem

<div class="product">
    <div class="image">
        @if (!Model.ImageUrl.IsNullOrWhiteSpace())
        {
            <a href="@Model.Url">
                <img src="@Model.ImageUrl" alt="" class="img-responsive image1">
            </a>
        }
        <div class="quick-view-button">
            <a href="#" data-toggle="modal" data-target="#product-quick-view-modal" data-productmodal="@Model.Key" class="btn btn-default btn-sm">Quick view</a>
        </div>
    </div>
    <!-- /.image -->
    <div class="text">
        <h3><a href="@Model.Url">@Model.Name</a></h3>
        @if (Model.OnSale)
        {
            <p class="price"><del>@Model.FormattedPrice</del> @Model.FormattedSalePrice</p>
        }
        else
        {
            <p class="price">@Model.FormattedPrice</p>
        }
    </div>
    <!-- /.text -->
    @if (Model.OnSale)
    {
        <div class="ribbon sale">
            <div class="theribbon">SALE</div>
            <div class="ribbon-background"></div>
        </div>
    }

    <!-- /.ribbon -->
    @if (Model.IsNew)
    {
        <div class="ribbon new">
            <div class="theribbon">NEW</div>
            <div class="ribbon-background"></div>
        </div>
    }
</div>