@inherits Merchello.UkFest.Web.Mvc.DitFloView<Merchello.UkFest.Web.Models.ProductListing>

<div class="container">

    <div class="col-sm-12">

        <div class="box text-center">
            <h3 class="text-uppercase">@Model.View.CollectionName</h3>

            <h4 class="text-muted">@Model.View.CollectionBrief</h4>
        </div>

        <div class="row products">
            @foreach (var product in Model.View.Products)
            {                            
            <div class="col-md-3 col-sm-4">
                <div class="product">
                    <div class="image">
                        @if (!product.ImageUrl.IsNullOrWhiteSpace())
                        {                           
                            <a href="@product.Url">
                                <img src="@product.ImageUrl" alt="" class="img-responsive image1">
                            </a>
                        }
                        <div class="quick-view-button">
                            <a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Quick view</a>
                        </div>
                    </div>
                    <!-- /.image -->
                    <div class="text">
                        <h3><a href="@product.Url">@product.Name</a></h3>
                        @if (product.OnSale)
                        {
                             <p class="price"><del>@product.FormattedPrice</del> @product.FormattedSalePrice</p>
                        }
                        else
                        {
                             <p class="price">@product.FormattedPrice</p>
                        }
                    </div>
                    <!-- /.text -->
                    @if (product.OnSale)
                    {
                        <div class="ribbon sale">
                            <div class="theribbon">SALE</div>
                            <div class="ribbon-background"></div>
                        </div>
                    }

                    <!-- /.ribbon -->
                    @if (product.IsNew)
                    {                                        
                        <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>
                    }
                </div>
                <!-- /.product -->
            </div>
            }
            

            <div class="modal fade" id="product-quick-view-modal" tabindex="-1" role="dialog" aria-hidden="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-body">

                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                            <div class="row quick-view product-main">
                                <div class="col-sm-6">
                                    <div class="quick-view-main-image">
                                        <img src="/img/detailbig1.jpg" alt="" class="img-responsive">
                                    </div>

                                    <div class="ribbon ribbon-quick-view sale">
                                        <div class="theribbon">SALE</div>
                                        <div class="ribbon-background"></div>
                                    </div>
                                    <!-- /.ribbon -->

                                    <div class="ribbon ribbon-quick-view new">
                                        <div class="theribbon">NEW</div>
                                        <div class="ribbon-background"></div>
                                    </div>
                                    <!-- /.ribbon -->

                                    <div class="row thumbs">
                                        <div class="col-xs-4">
                                            <a href="img/detailbig1.jpg" class="thumb">
                                                <img src="/img/detailsquare.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="col-xs-4">
                                            <a href="img/detailbig2.jpg" class="thumb">
                                                <img src="/img/detailsquare2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="col-xs-4">
                                            <a href="img/detailbig3.jpg" class="thumb">
                                                <img src="/img/detailsquare3.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6">

                                    <h2>White Blouse Armani</h2>

                                    <p class="text-muted text-small text-center">White lace top, woven, has a round neck, short sleeves, has knitted lining attached</p>

                                    <div class="box">

                                        <form>
                                            <div class="sizes">

                                                <h3>Available sizes</h3>

                                                <label for="size_s">
                                                    <a href="#">S</a>
                                                    <input type="radio" id="size_s" name="size" value="s" class="size-input">
                                                </label>
                                                <label for="size_m">
                                                    <a href="#">M</a>
                                                    <input type="radio" id="size_m" name="size" value="m" class="size-input">
                                                </label>
                                                <label for="size_l">
                                                    <a href="#">L</a>
                                                    <input type="radio" id="size_l" name="size" value="l" class="size-input">
                                                </label>

                                            </div>

                                            <p class="price">$124.00</p>

                                            <p class="text-center">
                                                <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                                                <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                                                    <i class="fa fa-heart-o"></i>
                                                </button>
                                            </p>


                                        </form>
                                    </div>
                                    <!-- /.box -->

                                    <div class="quick-view-social">
                                        <h4>Show it to your friends</h4>
                                        <p>
                                            <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                            <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                            <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                            <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                                        </p>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--/.modal-dialog-->
            </div>
            <!-- /.modal -->

        </div>
        <!-- /.products -->

    </div>
    <!-- /.col-sm-12 -->

</div>