@inherits Merchello.UkFest.Web.Mvc.DitFloView<Merchello.UkFest.Web.Models.RecentlyViewed>
<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="box">
            <h3>@Model.View.Title</h3>
        </div>
    </div>
    
    @foreach (var product in Model.View.Products)
    {
    <div class="col-md-3 col-sm-6">
        <div class="product">
            <div class="image">
                <a href="@product.Url">
                    <img src="@product.ImageUrl" alt="" class="img-responsive image1">
                </a>
            </div>
            <div class="text">
                <h3><a href="@product.Url">@product.Name</a></h3>
                @if (product.OnSale)
                {
                    <p class="price"><del>@product.FormattedPrice</del> @product.FormattedSalePrice</p>
                }
                else
                {
                    <p class="price">@product.FormattedPrice</p>
                }
            </div>
        </div>
    </div>
    }
</div>

