@inherits Merchello.UkFest.Web.Mvc.DitFloView<Merchello.UkFest.Web.Models.Checkout.CheckoutModel>
@using Merchello.Core
@{
    Layout = "_Sidebar.cshtml";
    System.Web.Mvc.HtmlHelper.ClientValidationEnabled = true;
    System.Web.Mvc.HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<div class="box" id="checkout-forms">

    @Html.Action("AddressForm", "Checkout", new { addressType = AddressType.Billing })
    @Html.Action("DeliveryMethod", "Checkout")
    @Html.Action("PaymentMethod", "Checkout")
    @Html.Partial("OrderConfirmation")
</div>

@section Sidebar {
    @Html.Partial("Basket/Summary", Model.View.OrderSummary)
}
