@inherits Merchello.UkFest.Web.Mvc.DitFloView<Merchello.UkFest.Web.Models.ProductDetail>
@{
    Layout = "_Sidebar.cshtml";
}

<div class="row" id="productMain">
    <div class="col-sm-6">

        <div id="mainImage">
            @if (Model.View.Images.Any())
            {
                <img src="@Model.View.Images.First()" alt="" class="img-responsive">
            }
        </div>
        @if (Model.View.OnSale)
        {
            <div class="ribbon sale">
                <div class="theribbon">SALE</div>
                <div class="ribbon-background"></div>
            </div>
        }
        @if (Model.View.IsNew)
        {
            <div class="ribbon new">
                <div class="theribbon">NEW</div>
                <div class="ribbon-background"></div>
            </div>
        }

        </div>
            <div class="col-sm-6">
                <div class="box">

                    @Html.Partial("Basket/AddToBasket", Model.View.AddToBasket)

                </div>

                <div class="row" id="thumbs">
                    @foreach (var image in Model.View.Images)
                    {                       
                    <div class="col-xs-4">
                        <a href="@image" class="thumb">
                            <img src="@image" alt="" class="img-responsive">
                        </a>
                    </div>                   
                    }
                </div>
            </div>

        </div>

        <div class="box" id="details">
            <h4>Product details</h4>
            @Model.View.Description
        </div>

        <div class="box social" id="product-social">
            <h4>Show it to your friends</h4>
            <p>
                <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
            </p>
        </div>

        @Html.Partial("Product/Related")
        @Html.Partial("Product/RecentlyViewed")


        @section Sidebar {
            @Html.Partial("Product/Filters/Category")
            @Html.Partial("Product/Filters/Brand")
            @Html.Partial("Product/Filters/Colour")
        }
