@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Sidebar.cshtml";
}

<div class="row" id="productMain">
    <div class="col-sm-6">
        
        <div id="mainImage">
            <img src="/img/detailbig1.jpg" alt="" class="img-responsive">
        </div>

        <div class="ribbon sale">
            <div class="theribbon">SALE</div>
            <div class="ribbon-background"></div>
        </div>
        <!-- /.ribbon -->

        <div class="ribbon new">
            <div class="theribbon">NEW</div>
            <div class="ribbon-background"></div>
        </div>
        <!-- /.ribbon -->

    </div>
    <div class="col-sm-6">
        <div class="box">

            @Html.Partial("Product/AddToBasket")

        </div>

        <div class="row" id="thumbs">
            <div class="col-xs-4">
                <a href="/img/detailbig1.jpg" class="thumb">
                    <img src="/img/detailsquare.jpg" alt="" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4">
                <a href="/img/detailbig2.jpg" class="thumb">
                    <img src="/img/detailsquare2.jpg" alt="" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4">
                <a href="/img/detailbig3.jpg" class="thumb">
                    <img src="/img/detailsquare3.jpg" alt="" class="img-responsive">
                </a>
            </div>
        </div>
    </div>

</div>

<div class="box" id="details">
    <p>
    <h4>Product details</h4>
    <p>White lace top, woven, has a round neck, short sleeves, has knitted lining attached</p>
    <h4>Material & care</h4>
    <ul>
        <li>Polyester</li>
        <li>Machine wash</li>
    </ul>
    <h4>Size & Fit</h4>
    <ul>
        <li>Regular fit</li>
        <li>The model (height 5'8" and chest 33") is wearing a size S</li>
    </ul>

    <blockquote>
        <p><em>Define style this season with Armani's new range of trendy tops, crafted with intricate details. Create a chic statement look by teaming this lace number with skinny jeans and pumps.</em>
        </p>
    </blockquote>
</div>

<div class="box social" id="product-social">
    <h4>Show it to your friends</h4>
    <p>
        <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
        <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
        <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
        <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
    </p>
</div>

@Html.Partial("Product/Related")
@Html.Partial("Product/RecentlyViewed")


@section Sidebar {
    @Html.Partial("Product/Filters/Category")
    @Html.Partial("Product/Filters/Brand")
    @Html.Partial("Product/Filters/Colour")
}
