@inherits Merchello.UkFest.Web.Mvc.DitFloView<Merchello.UkFest.Web.Models.Receipt>
@{
    Layout = "_Base.cshtml";
}


<div id="all">

    <div id="content">
        <div class="container">
    

            <div class="box text-center">

                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h1>Invoice #@Model.View.CustomerOrder.InvoiceNumber</h1>

                        <p class="lead">Invoice #@Model.View.CustomerOrder.InvoiceNumber was placed on <strong>@Model.View.CustomerOrder.InvoiceDate.ToString("MM/dd/yy")</strong> and is currently <strong>@Model.View.CustomerOrder.OrderStatus</strong>.</p>
                        <p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-9 clearfix" id="customer-order">
                <div class="box">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="2">Product</th>
                                    <th>Quantity</th>
                                    <th>Unit price</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.View.CustomerOrder.Products)
                                {
                                    <tr>
                                        <td>
                                            <a href="@item.ProductUrl">
                                                <img src="@item.Image" alt="@item.Name">
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@item.ProductUrl">@item.Name</a>
                                        </td>
                                        <td>@item.Quantity</td>
                                        <td>@item.FormattedUnitPrice</td>
                                        <td>@item.FormattedPrice</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="4" class="text-right">Order subtotal</th>
                                    <th>@Model.View.CustomerOrder.FormattedSubTotal</th>
                                </tr>
                                <tr>
                                    <th colspan="4" class="text-right">Shipping and handling</th>
                                    <th>@Model.View.CustomerOrder.FormattedShippingTotal</th>
                                </tr>
                                <tr>
                                    <th colspan="4" class="text-right">Discounts</th>
                                    <th>@Model.View.CustomerOrder.FormattedDiscountTotal</th>
                                </tr>
                                <tr>
                                    <th colspan="4" class="text-right">Total</th>
                                    <th>@Model.View.CustomerOrder.FormattedTotal</th>
                                </tr>
                                <tr>
                            </tfoot>
                        </table>

                    </div>
                    <!-- /.table-responsive -->

                    <div class="row addresses">
                        <div class="col-sm-6">
                            <h2>Invoice address</h2>
                            @Html.Partial("_Address", Model.View.CustomerOrder.BillingAddress)
                        </div>
                        <div class="col-sm-6">
                            <h2>Shipping address</h2>
                            @Html.Partial("_Address", Model.View.CustomerOrder.ShippingAddress)
                        </div>
                    </div>
                    <!-- /.addresses -->

                </div>
                <!-- /.box -->

            </div>
        </div>
    </div>
</div>